
@{
    ViewBag.Title = "PView";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
}

<h2>PView</h2>
<img src="~/images/raina2.jpeg" height="150" width="150" class="img-responsive" style="border:2px solid red" />
<br />
